/* .appContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.leftBar, .rightBar {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.leftBar {
  border-right: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
}

.rightBar {
  border-radius: 0 8px 8px 0;
} */

* {
  color: #e6e6e6,
}

.scrollable-container {
  overflow-y: auto;
  margin-right: 5px;
  padding: 0;
  flex: 1;
}

.right-bar-list {
  box-sizing: border-box;
  width: 70%;
}

.scrollable-container::-webkit-scrollbar {
  width: 6px; 
}

.scrollable-container::-webkit-scrollbar-track {
  background: #e6e6e6; /* Track color */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #444444; /* Scrollbar color */
  border: none
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar color on hover */
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: #757575;
}

.slide {
  opacity: 0;
  transform: translateX(100%); /* Start off-screen to the right */
  transition: transform 2s cubic-bezier(0.1, 0.2, 0.5, 0.1), opacity 2s ease-in-out;
  /* max-height: 0; */
  overflow: hidden;
}

.slide.visible {
  opacity: 1;
  transform: translateX(0); /* Slide back to the original position */
  max-height: 100px; /* Adjust according to content */
}